In [7]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression

In [8]:
data = pd.read_csv(r"C:\Users\tahas\OneDrive\Desktop\Pro\train_and_test2.csv")

data.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [12]:
data.dropna(axis =0 ,inplace =True)

In [13]:
data.corr()["2urvived"].sort_values()

Passengerid   -0.331125
Pclass        -0.241672
Embarked      -0.093225
Age           -0.060236
sibsp         -0.013174
Parch          0.056183
Fare           0.171942
Sex            0.401985
2urvived       1.000000
zero                NaN
zero.1              NaN
zero.2              NaN
zero.3              NaN
zero.4              NaN
zero.5              NaN
zero.6              NaN
zero.7              NaN
zero.8              NaN
zero.9              NaN
zero.10             NaN
zero.11             NaN
zero.12             NaN
zero.13             NaN
zero.14             NaN
zero.15             NaN
zero.16             NaN
zero.17             NaN
zero.18             NaN
Name: 2urvived, dtype: float64

In [60]:
X = data[["sibsp","Parch","Fare","Sex","Pclass","Passengerid"]]
y = data["2urvived"]

In [81]:
Xs= data.drop(["2urvived"],1)

In [82]:
model = LogisticRegression()

In [83]:
x_train,x_test,y_train,y_test = sklearn.model_selection.train_test_split(Xs,y,test_size= 0.1)

In [84]:
model.fit(x_train,y_train)

C:\Users\tahas\Anaconda3\envs\gputest\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [85]:
model.score(x_test,y_test)

0.7938931297709924